<div class="panel-body">
      <div class="row">
        <div class=" col-md-12 col-lg-12 "> 
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Type de chambre</td>
                <td><%= @reservation.type_c%></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= @reservation.user.email%></td>
              </tr>
              <tr>
                <td>Date debut </td>
                <td><%= @reservation.date_d%></td>
              </tr>
              <tr>
                <td>Date fin </td>
                <td><%= @reservation.date_f%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <button class = "button" style = "margin-left: 25vw"> <%= link_to "Modifier", edit_reservation_path(@reservation) if @reservation.date_d > Date.today %>  </button>
    <button class = "button"> <%= link_to "Voir chambre", chambre_path(@reservation.chambre_id) %>  </button>
    <button class = "button"> <%= link_to "Laisser un avis", new_chambre_review_path(@reservation.chambre_id) %>  </button>
    <button class = "button"> <%= link_to "Supprimer", reservation_path(@reservation), method: :delete  %>  </button>

