 <%
=begin%>
 <%= @chambre.id %>
 <h2>Reviews</h2>
<%= link_to "Laissez un avis", new_chambre_review_path(@chambre) %>
<ul>
  <% @chambre.reviews.each do |review| %>
    <li><%= review.rating %> - <%= review.content %> - <%= review.user.email %></li>
  <% end %>
</ul> 
<%
=end%>


<div class="flex-container">
	<div class="card">
		<img class = 'imgg' src="http://res.cloudinary.com/dvgdceqcn/image/upload/<%= @chambre.photo.key %>" />
		<div class="containerr">
			<h1><b><%= @chambre.type_c %></b></h1>
			<h4> nombre de chambres: <b><%= @chambre.nb %></b></h4>
			<% rating = Review.where(chambre_id: @chambre.id).sum(:rating) %>
			<% nbre = Review.where(chambre_id: @chambre.id).count %>
			<h4> Note: <%= rating.to_f/nbre.to_f if nbre>0%> / <%= link_to "Laissez un avis", new_chambre_review_path(@chambre) %></h4>
			<p><%= @chambre.description %></p>
			<button class = "button2" style = "margin-left: 17vw"> <%= link_to "Modifier", edit_chambre_path() %>  </button>
			<button class = "button2"> <%= link_to "Supprimer", chambre_path(), method: :delete  %>  </button>
		</div>
	</div>
</div>
					




	
 
