<div class = "form">
  <%= simple_form_for [@chambre, @review] do |f| %>
    <%= "Votre avis : " %>
    <%= f.input :content, label: false, :input_html => { :id => "form_c"} %>
    <%="Note sur 5 : "%>
    <%= f.input :rating, label: false, :input_html => { :id => "form_c"} %>
    <%= f.submit %>
  <% end %>  
</div>

<h2>Reviews</h2>

<button class = "btn"> <%=  link_to "Voir toutes mes reviews",   './show' %>  </button>
<div>
  <table>
    <tr>
      <th>User</th>
      <th>Note</th>
      <th>Avis</th>
      <th>Date</th>
      <th> Heure </th>
    </tr>
    <% @chambre.reviews.each do |review|%>
      <tr>
        <td> <%= review.user.email %></td>
        <td> <%= review.rating %> </td>
        <td><%= review.content %></td>
        <td><%= review.created_at.strftime("%Y-%m-%d")%></td>
        <td><%= review.created_at.strftime("%H:%M")%></td>
      </tr>  
    <%end%>
  </table>
</div>