<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body">

      <%
=begin%>
 <ul>
        <li><a href="/">Acceuil</a></li>
        <li><a href="/chambres">Chambres</a></li>
        <li><a href="/reservations">Reservations</a></li>
        <li><a href="about.asp">About</a></li>
        <li> <p><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete if user_signed_in? %></p> </li>
      </ul> 
<%
=end%>
      <ul class = "ul">
        <li class = "li"><%= link_to 'Acceuil', '/' %></li>
        <li class = "li"><%= link_to 'Chambres', '/chambres' %></li>
        <li class = "li"><%= link_to 'Reservations', '/reservations' %></li>
        <li class = "li" id = "a"> <p> <%= "( " + current_user.email + " )" if current_user != nil %> </p> </li>
        <li class = "li"><%= link_to 'Se connecter', new_user_session_path unless user_signed_in? %></li>
        <li class = "li"><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete if user_signed_in? %></li>
      </ul>


      <%= yield %>
    </div>
      
  </body>
</html>
